/* index */
body {
  background-image: url(../imagenes/fondo.png);
  background-size: contain;
  object-position: center;
  position: relative;
}

#boton{
  width:100%;
  margin-top: 10px; 
  display: block;
  margin-right: 50px;
}

#logo1{
  margin-right: 50px;
}
#superior{
    background-color: gray;
}

#superior .container-fluid {
    display: flex;
    justify-content: left;
}

#superior .navbar-collapse{
    justify-content: center;
}
#desplegable{
    text-align: right;
}

main {
 position: relative;
  width: 100%;
  height: 350px; 
  max-width: 1200px;
  margin-top: 70px;
}

#caja{
  margin-bottom: 100px;
  background-color: lightblue;
  font-size: 18px;
  font-style: italic;
  font-family: 'Times New Roman';
}

main p{
  color: rgb(85, 12, 221);
  margin-top: 10px;
  font-style: normal;
  font-size: 20px;
  font-family:'Lucida Sans';
}

.card-title{
  color: blueviolet;
}

.btn{
  color: rgb(255, 255, 255);
  background-color: rgb(40, 82, 95);
}

footer{
  position: fixed;
  background-color: rgb(80, 70, 70);
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0%;
}

footer img{
  width: 40px;
  min-width: 10px;
  margin-top: 5px;
}

 footer p{
  text-align: left;
  font-family:fantasy;
  color: antiquewhite;
  font-size: 10px;
  margin-top: 10px;
 }

 #gtcopy{
  text-align: left;
  font-family:fantasy;
  color: antiquewhite;
  font-style: italic;
  font-size: 8px;
  margin-top: 5px;
 }

 /* Cominudad */
 
 .fondo{
  background-image: url(../imagenes/GrandFantasia_art.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  margin-top: 50px;
 }

 .form{
  margin-top: 100px;
 }

 .form-label{
  font-size: larger;
  color: rgb(0, 26, 255);
  background-color: rgb(169, 168, 240);
  background-size: cover;
  border-radius: 20%;
 }

 .form-text{
font-size: medium;
color: rgb(255, 255, 255);
background-color: black;
opacity: 60%;
border-radius: 10%;
 }

 /* proyecto*/

#cuadrito{
  background-image: url(../imagenes/body2.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 600px;
  background-color: #00000000;
}

.card-header{
  margin-top: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#pro{
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 35px;
  text-align: center;
}

#cuerpo{
  width: 250px;
  margin-left: 50px;
}

/* donación */

#titu{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
  margin-top: 40px;
}

#dona{
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(121, 7, 102);
}

h4{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color:rgb(29, 85, 131);
  font-style: italic;
}

/* comunidad */

#ds{
  font-size: 20px;
  margin-top: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: left;
  color: darkblue;
}