body {
  background-image: url(../imagenes/fondo.webp);
  background-size: contain;
  object-position: center;
  position: relative;
  overflow-x: hidden;
}

header {
  background: rgb(241, 227, 250);
  background: -moz-linear-gradient(90deg, rgb(241, 227, 250) 0%, rgb(221, 182, 250) 16%, rgb(25, 61, 238) 49%, rgb(162, 155, 245) 81%, rgb(189, 186, 240) 98%);
  background: -webkit-linear-gradient(90deg, rgb(241, 227, 250) 0%, rgb(221, 182, 250) 16%, rgb(25, 61, 238) 49%, rgb(162, 155, 245) 81%, rgb(189, 186, 240) 98%);
  background: linear-gradient(90deg, rgb(241, 227, 250) 0%, rgb(221, 182, 250) 16%, rgb(25, 61, 238) 49%, rgb(162, 155, 245) 81%, rgb(189, 186, 240) 98%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f1e3fa",endColorstr="#bdbaf0",GradientType=1);
}
header .botones {
  background: rgb(100, 221, 255);
  background: -moz-radial-gradient(circle, rgb(100, 221, 255) 0%, rgb(174, 42, 255) 100%);
  background: -webkit-radial-gradient(circle, rgb(100, 221, 255) 0%, rgb(174, 42, 255) 100%);
  background: radial-gradient(circle, rgb(100, 221, 255) 0%, rgb(174, 42, 255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#64ddff",endColorstr="#ae2aff",GradientType=1);
  border-color: black;
  border-radius: 10%;
  border-style: double;
  font-style: italic;
  font-family: "Arial";
  color: black;
}

@media (min-width: 992px) {
  body header .logo {
    margin-right: 300px;
    margin-left: 100px;
  }
}
@media (min-width: 400px) and (max-width: 992px) {
  body header .logo {
    margin-right: 100px;
  }
}
@media (min-width: 992px) {
  body header .ov-btn-grow-skew {
    background: rgb(100, 221, 255);
    background: -moz-radial-gradient(circle, rgb(100, 221, 255) 0%, rgb(174, 42, 255) 100%);
    background: -webkit-radial-gradient(circle, rgb(100, 221, 255) 0%, rgb(174, 42, 255) 100%);
    background: radial-gradient(circle, rgb(100, 221, 255) 0%, rgb(174, 42, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#64ddff",endColorstr="#ae2aff",GradientType=1);
    border-color: black;
    border-radius: 10%;
    border-style: double;
    font-style: italic;
    font-family: "Arial";
    color: black;
    padding: 16px 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  body header .ov-btn-grow-skew:hover {
    font-style: italic;
    font-family: "Arial";
    color: white;
  }
  body header .ov-btn-grow-skew::after {
    content: "";
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
  }
  body header .ov-btn-grow-skew:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
  }
  body header .botones {
    margin-right: 50px;
    margin-left: 50px;
    padding: 10px;
  }
}
@media (min-width: 500px) and (max-width: 992px) {
  body header .botones {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
  }
}
main {
  padding-bottom: 50px;
}
main .teatro1 {
  max-height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
main .fantasia {
  background-color: lavender;
  font-size: 19px;
  font-family: "Calibri";
  color: black;
}
main .caja {
  margin: 100px;
  background-color: lightblue;
  font-size: 18px;
  font-style: italic;
  font-family: "Times New Roman";
}
main .caja .parche {
  color: blue;
  margin-top: 10px;
  font-style: normal;
  font-size: 20px;
  font-family: "Times New Roman";
}
main .caja .parche .ultimo {
  color: blueviolet;
}
main .caja .parche .btn {
  color: white;
  background-color: rgb(12, 84, 143);
}

.carousel-inner img {
  height: 300px;
  width: auto;
  object-fit: contain;
  background-color: rgba(0, 0, 0, 0.37);
}

.comunidad {
  margin-bottom: 50px;
}
.comunidad .redes {
  background-color: rgb(12, 84, 143);
  border-radius: 30%;
  border-color: aqua;
  border-style: double;
  border-width: 5px;
}
.comunidad .redes .conte {
  color: white;
  font-family: "Arial";
}
.comunidad .redes .unete {
  color: aqua;
  text-align: center;
  font-family: "Arial";
}
.comunidad .redes .unirse {
  margin-left: 35%;
  color: lightblue;
}
.comunidad .redes .icono {
  height: 50px;
}
.comunidad .redes .btn {
  background-color: rgb(12, 84, 143);
  border: 5px;
  border-style: double;
}

.dona {
  margin-top: 50px;
  margin-bottom: 50px;
}
.dona .cion {
  background-color: white;
  opacity: 0.8;
  border-color: black;
  border-width: 5px;
  border-style: groove;
}
.dona .cion .apoyo {
  font-size: 25px;
  background: -webkit-linear-gradient(#15ff00, #0004ff);
  -webkit-background-clip: text;
  background-clip: none;
  -webkit-text-fill-color: transparent;
  font-family: "Times New Roman";
}
.dona .cion .ayu {
  font-size: 20px;
  background: -webkit-linear-gradient(#49c700, #ff00ff);
  -webkit-background-clip: text;
  background-clip: none;
  -webkit-text-fill-color: transparent;
  font-family: "Calibri";
}

.proyect, .proyect .po {
  background-color: rgba(0, 0, 0, 0.5882352941);
  border-color: rgba(250, 235, 215, 0.658);
  border-style: double;
  border-width: 10px;
}
.proyect .stiker {
  width: 200px;
}
.proyect .po {
  opacity: 80%;
  border-color: rgba(250, 235, 215, 0.658);
  border-style: double;
  border-width: 10px;
  color: white;
  font-family: cursive;
  font-size: 18px;
}
.proyect .po .titulo {
  font-size: 25px;
  font-family: "Arial";
}
@media (max-width: 500px) {
  .proyect .stiker {
    width: 0px;
  }
}

.regi {
  margin-top: 50px;
  margin-bottom: 50px;
  background: rgb(156, 255, 160);
  background: -moz-linear-gradient(90deg, rgb(156, 255, 160) 0%, rgb(255, 130, 236) 100%);
  background: -webkit-linear-gradient(90deg, rgb(156, 255, 160) 0%, rgb(255, 130, 236) 100%);
  background: linear-gradient(90deg, rgb(156, 255, 160) 0%, rgb(255, 130, 236) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9cffa0",endColorstr="#ff82ec",GradientType=1);
  border-color: black;
  border-width: 10px;
  border-style: double;
}
.regi .fotito {
  width: 300px;
}
.regi .tro {
  text-align: center;
  font-family: "Arial";
  color: black;
  font-size: 20px;
}
.regi .bo {
  margin-left: 300px;
  background-color: black;
  color: white;
}
.regi .dy {
  background: rgb(156, 255, 160);
  background: -moz-linear-gradient(90deg, rgb(156, 255, 160) 0%, rgb(255, 130, 236) 100%);
  background: -webkit-linear-gradient(90deg, rgb(156, 255, 160) 0%, rgb(255, 130, 236) 100%);
  background: linear-gradient(90deg, rgb(156, 255, 160) 0%, rgb(255, 130, 236) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9cffa0",endColorstr="#ff82ec",GradientType=1);
  border: none;
  font-size: 20px;
  font-family: "Times New Roman";
  color: black;
}
.regi .dy .ce {
  margin-left: 400px;
}
.regi .dy .ca {
  margin-left: 370px;
}
.regi .dy .crear {
  margin-left: 600px;
  background-color: black;
  color: white;
}
@media (max-width: 500px) {
  .regi .offcanvas {
    height: 60vh;
  }
  .regi .dy .ce {
    margin-left: 40px;
    width: 200px;
  }
  .regi .dy .ca {
    margin-left: 37px;
    width: 200px;
  }
  .regi .dy .crear {
    margin-left: 60px;
  }
  .regi .bo {
    margin: 120px;
  }
}
@media (min-width: 500px) and (max-width: 992px) {
  .regi .bo {
    margin: 120px;
  }
  .regi .dy .ce {
    margin-left: 80px;
  }
  .regi .dy .ca {
    margin-left: 50px;
  }
  .regi .dy .crear {
    margin-left: 250px;
  }
}

footer {
  position: fixed;
  background: rgb(30, 77, 116);
  background: -moz-linear-gradient(90deg, rgb(30, 77, 116) 0%, rgb(80, 6, 126) 100%);
  background: -webkit-linear-gradient(90deg, rgb(30, 77, 116) 0%, rgb(80, 6, 126) 100%);
  background: linear-gradient(90deg, rgb(30, 77, 116) 0%, rgb(80, 6, 126) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1e4d74",endColorstr="#50067e",GradientType=1);
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0%;
  margin-top: 100px;
}
footer .footerimg {
  width: 40px;
  min-width: 10px;
  margin-top: 5px;
}
footer .p {
  text-align: left;
  font-family: fantasy;
  color: white;
  font-size: 10px;
  margin-top: 10px;
}
footer .gtcopy {
  text-align: left;
  font-family: "Times New Roman";
  color: white;
  font-style: italic;
  font-size: 8px;
  margin-top: 10px;
}
footer .arriba {
  background-color: blueviolet;
  border-color: black;
  border: 10px;
}

@media (min-width: 992px) {
  .arriba {
    margin-left: 176px;
  }
}
@media (min-width: 500px) and (max-width: 992px) {
  .arriba {
    margin-left: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
