$bg-c: black;

$fontA: 'Arial';
$fontT: 'Times New Roman';
$fontC: 'Calibri';


$colores: (
"blanco": white, 
"azul": blue,
"celeste": lightblue,
"violeta": blueviolet,
"celaqua": aqua,
"petroleo": rgb(40, 82, 95),
"azulo": rgb(12, 84, 143),
"lavander": lavender
);