.carousel-inner img {
    height: 300px;
    width: auto;
    object-fit: contain;
    background-color: rgba(0, 0, 0, 0.37);
}
  
.comunidad {
    margin-bottom: 50px;

    .redes {
        background-color:map-get($colores, azulo);
        border-radius: 30%;
        border-color:map-get($colores, celaqua);
        border-style: double;
        border-width: 5px;
  
         .conte {
            color:map-get($colores, blanco);
            font-family: $fontA
        }
  
        .unete {
            color: map-get($colores, celaqua);
            text-align: center;
            font-family: $fontA;
            padding: 15px;
        }
  
        .unirse {
            margin-left: 35%;
            color: map-get($colores, celeste)
        }
  
        .icono {
            height: 50px;
        }
        .btn{
            background-color: map-get($colores, azulo);
            border: 5px;
            border-style: double;

        }
    }
}