.dona {
    margin-top: nth($size, 3);
    margin-bottom: nth($size, 3);
    .cion {
        background-color: nth($colores, 1);
        opacity: 0.8;
        border-color: $bg-c;
        border-width: nth($size, 5);
        border-style: groove;
        .apoyo {
            font-size: 25px;
            background: -webkit-linear-gradient(#15ff00, #0004ff);
            -webkit-background-clip: text;
            background-clip: none;
            -webkit-text-fill-color: transparent;
            font-family: $fontT;
        }
        .ayu {
            font-size: nth($size, 7);
            background: -webkit-linear-gradient(#49c700, #ff00ff);
            -webkit-background-clip: text;
            background-clip: none;
            -webkit-text-fill-color: transparent;
            font-family: $fontC;
        }
    }  
}