main {
  padding-bottom: nth($size, 3);

  .teatro1 {
    max-height: nth($size, 8);
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .fantasia {
    background-color: map-get($colores, lavander);
    font-size: 19px;
    font-family: $fontC;
    color: $bg-c;
  }

  .caja {
    background-color: map-get($colores, celeste);
    font-size: 18px;
    font-style: italic;
    font-family: "Times New Roman";

    .parche {
      color: map-get($colores, azul);
      margin-top: nth($size, 4);
      font-style: normal;
      font-size: nth($size, 7);
      font-family: $fontT;
      
      .ultimo {
        color: map-get($colores, violeta); 
      }

      ul{
        list-style: none;
      }

      .btn {
        color: map-get($colores, blanco);
        background-color: map-get($colores, azulo);
      }
    }
  }
}

@media (max-width: 500px){
  .caja{
    margin: 10px;
  }
}

@media (min-width: 500px){
  .caja{
    margin: 100px;
  }
}